.grid-container {
    display: grid;
    /* grid-template-columns: auto auto auto auto auto auto auto; */
    grid-template-rows: auto auto auto auto auto;
    margin-top: 100px;
    background-color: white;
    margin-left: 15%;
    margin-right: 15%;
    padding: auto;
    position: absolute;
}
.grid-item {
    margin: 5px;
    border-radius: 10px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100px;
    opacity: 1;
    transition: 0.5s ease;
}
.blue {
    background-color: rgb(66, 66, 255);
    color: white;
    border: none;
}
.light-grey {
    background-color: rgb(190, 190, 190);
    color: black;
    border: none;
}
.gray {
    background-color: rgb(160, 160, 160);
    color: black;
    border: none;
}
.input {
    width: 100%;
    margin-bottom: 50px;
    border-radius: 10px;
    text-align: right;
    font-size: 30px;
}
.grubo {
    font-weight: 1000;
}
.grid-item:hover {
    opacity: 0.7;
    transition: .5s ease;
    overflow: hidden;
}
body {
    font-family: 'Lato', sans-serif;
}
.border {
    border-style: solid;
    border-radius: 10px;
    border-color: rgba(80, 80, 80, 0.5);
}
.rad {
    margin-right: -2px;
    margin-left: 10px;
    border-right: 3px solid rgb(90, 90, 90);
    border-bottom-right-radius: 0%;
    border-top-right-radius: 0%;
}
.deg {
    margin-left: -2px;
    margin-right: 14px;
    border-left: 3px solid rgb(90, 90, 90);
    border-bottom-left-radius: 0%;
    border-top-left-radius: 0%;
}