<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="grid-container border">     
        <input class="input" type="text" value="0">
        <div class="grid-item gray rad"> 
            <span>Rad</span>    
        </div>
        <div class="grid-item gray deg"> 
            <span>Deg</span>    
        </div>
        <div class="grid-item gray"> 
            <span>x!</span>    
        </div>
        <div class="grid-item gray"> 
            <span>(</span>    
        </div>
        <div class="grid-item gray"> 
            <span>)</span>    
        </div>
        <div class="grid-item gray"> 
            <span>%</span>    
        </div>
        <div class="grid-item gray"> 
            <span>AC</span>    
        </div>
        <div class="grid-item gray"> 
            <span>Inv</span>    
        </div>
        <div class="grid-item gray"> 
            <span>sin</span>    
        </div>
        <div class="grid-item gray"> 
            <span>In</span>    
        </div>
        <div class="grid-item light-grey"> 
            <span>7</span>    
        </div>
        <div class="grid-item light-grey"> 
            <span>8</span>    
        </div>
        <div class="grid-item light-grey"> 
            <span>9</span>    
        </div>
        <div class="grid-item gray"> 
            <span>÷</span>    
        </div>
        <div class="grid-item gray"> 
            <span>π</span>    
        </div>
        <div class="grid-item gray"> 
            <span>cos</span>    
        </div>
        <div class="grid-item gray"> 
            <span>log</span>    
        </div>
        <div class="grid-item light-grey"> 
            <span>4</span>    
        </div>
        <div class="grid-item light-grey"> 
            <span>5</span>    
        </div>
        <div class="grid-item light-grey"> 
            <span>6</span>    
        </div>
        <div class="grid-item gray"> 
            <span>x</span>    
        </div>
        <div class="grid-item gray"> 
            <span>e</span>    
        </div>
        <div class="grid-item gray"> 
            <span>tan</span>    
        </div>
        <div class="grid-item gray"> 
            <span>√</span>    
        </div>
        <div class="grid-item light-grey"> 
            <span>1</span>    
        </div>
        <div class="grid-item light-grey"> 
            <span>2</span>    
        </div>
        <div class="grid-item light-grey"> 
            <span>3</span>    
        </div>
        <div class="grid-item gray"> 
            <span>-</span>    
        </div>
        <div class="grid-item gray"> 
            <span>Ans</span>    
        </div>
        <div class="grid-item gray"> 
            <span>EXP</span>    
        </div>
        <div class="grid-item gray"> 
            <span>x²</span>    
        </div>
        <div class="grid-item light-grey"> 
            <span>0</span>    
        </div>
        <div class="grid-item light-grey"> 
            <span>.</span>    
        </div>
        <div class="grid-item blue"> 
            <span class="grubo">=</span>    
        </div>
        <div class="grid-item gray"> 
            <span>+</span>    
        </div>
    </div>
</body>
</html>