<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>

<body>
    <div class="grid-container border">
        <div style="width: 100%;">
            <input class="input" type="text" value="0">
        </div>
        <div>
            <button class="grid-item gray rad">Rad</button>
            <button class="grid-item gray deg">Deg</button>
            <button class="grid-item gray">x!</button>
            <button class="grid-item gray">(</button>
            <button class="grid-item gray">)</button>
            <button class="grid-item gray">%</button>
            <button class="grid-item gray">AC</button>
        </div>
        <div>
            <button class="grid-item gray">Inv</button>
            <button class="grid-item gray">sin</button>
            <button class="grid-item gray">In</button>
            <button class="grid-item light-grey">7</button>
            <button class="grid-item light-grey">8</button>
            <button class="grid-item light-grey">9</button>
            <button class="grid-item gray">÷</button>
        </div>
        <div>
            <button class="grid-item gray">π</button>
            <button class="grid-item gray">cos</button>
            <button class="grid-item gray">log</button>
            <button class="grid-item light-grey">4</button>
            <button class="grid-item light-grey">5</button>
            <button class="grid-item light-grey">6</button>
            <button class="grid-item gray">x</button>
        </div>
        <div>
            <button class="grid-item gray">e</button>
            <button class="grid-item gray">tan</button>
            <button class="grid-item gray">√</button>
            <button class="grid-item light-grey">1</button>
            <button class="grid-item light-grey">2</button>
            <button class="grid-item light-grey">3</button>
            <button class="grid-item gray">-</button>
        </div>
        <div>
            <button class="grid-item gray">Ans</button>
            <button class="grid-item gray">EXP</button>
            <button class="grid-item gray">x²</button>
            <button class="grid-item light-grey">0</button>
            <button class="grid-item light-grey">.</button>
            <button class="grid-item grubo blue">=</button>
            <button class="grid-item grid-item gray">+</button>
        </div>
    </div>
</body>

</html>